
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<div class="row g-3">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" >
        <div class="card">
            <img height="400px" width="300px" class="square mx-auto" src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">sdfffb</p>
              <p class="card-text">ss</p>
              <p class="card-text">fs</p>
              <p class="card-text">sf</p>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
              
            </div>
          </div>
          </div>
          </div>
        </div>  
        </div>
        </div>
